.perfil
{
    display: flex;
    flex-direction: row;
 
    background-color: $P-CARD;
 
    padding: 3%;
 
    border-radius: 6px;
 
    aside
    {
        margin-right: 5%;
     
        #Octo
        {
            max-width: 100%;
            max-height: 93%;
         
            border-radius: 50%;
        }
    }
 
    .detalhes
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     
        .user > p { color: $AZUL };
    }
 
    .desc
    {
        margin-top: 5%;
        margin-bottom: 5%;
        color: $P-DESC;
    }
 
    .gitinfos
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     
        padding: 3% 8%;
        margin-bottom: 4%;
     
        background-color: $PRETO;
        border-radius: 6px;
     
        h4 { color: $P-DESC}
    }
 
    .media
    {
        display: flex;
     
        height: 20%;
     
        margin-bottom: 5%;
        margin-top: 30px;
     
        .left
        {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            min-width: 50%;
            margin-right: 7%;
        }
     
        .right
        {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            min-width: 50%;
        }
     
        .mediaInfo
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
         
            p
            {
                word-wrap: break-word;
                min-width: 100%;
             
                img { margin-right: 5% };
            }
        }
     
        .end { margin-top: 7% };
    }
}

@media( max-width: 650px )
{
    .perfil { flex-direction: column };
 
    .media
    {
        flex-direction: column;
     
        .end { margin-top: 0px };
    }
}
