.perfil
{
    background-color: $P-CARD;
 
    padding: 3%;
 
    border-radius: 6px;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: .2fr .2fr .2fr .1fr;
    grid-template-areas: 'img perf' 'img desc' 'img repos' 'img media';
 
    aside
    {
        margin-left: -10%;
        display: flex;
        justify-content: center;
        align-items: center;
     
        #Octo
        {
            width: 70%;
            height: 100%;
         
            border-radius: 50%;
        }
    }
 
    .detalhes
    {
        grid-area: perf;
     
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
     
        .user > p { color: $AZUL };
    }
 
    .desc
    {
        grid-area: desc;
     
        margin-top: 5%;
        margin-bottom: 5%;
        color: $P-DESC;
    }
 
    .gitinfos
    {
        grid-area: repos;

        display: flex;
        justify-content: space-between;
     
        padding: 3% 8%;
        margin-bottom: 4%;
     
        background-color: $PRETO;
        border-radius: 6px;
     
        h4 { color: $P-DESC}
    }
 
    .media
    {
        grid-area: media;
     
        display: flex;
     
        .left
        {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            min-width: 50%;
            margin-right: 7%;
        }
     
        .right
        {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            min-width: 50%;
        }
     
        .mediaInfo
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
         
            p
            {
                word-wrap: break-word;
                min-width: 100%;
             
                img { margin-right: 5% };
            }
        }
     
        .end { margin-top: 7% };
    }
}

@media( max-width: 550px )
{
    .perfil
    { 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "img perf" "desc desc" "repos repos" "media media";
     
        aside
        {
            grid-area:  img;

            height: auto;
            width: 70%;

            margin-left: 0px;
             
            #Octo
            {
                max-width: 65%;
                max-height: 100%;
                width: auto;
                height: auto;
            }
        }

        .detalhes
        {
            grid-area: perf;
            margin-left: -30%;
        }

        .desc { grid-area: desc };
        .gitinfos
        {
            grid-area: repos;
            padding: 5% 8%;
        };
     
        .media
        {
            grid-area: media;

            height: auto;
            display: inherit;

            margin-bottom: 0px;
            margin-top: 0px;

            .end { margin-top: 0% };
        }
    }
}
