/* APP */
    @import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
 
    $AZUL: #0078FD;
 
    $BRANCO: #F5F8FF;
    $B-NUMEROS: #2D2F3B;
    $B-LETRAS: #2B2F37;
    $B-DESC: #C2C6D1;
    $B-OFF: #D5D6DB;
    $B-CARD: #FEFEFE;
 
    $PRETO: #141c2f;
    $P-NUMEROS: #F0F5FA;
    $P-LETRAS: #EFF2F5;
    $P-DESC: #ADB7CD;
    $P-OFF: #4B5770;
    $P-CARD: #1F2A48;
 
    $FONT-DM: "DM Mono", sans-serif;
    $FONT-SPACE: "Space Mono", sans-serif;
 
/* BREAKPOINTS */
$BREAKPOINT-DESK: "only screen and (min-width: 1280px)";
$BREAKPOINT-TABLET-LAND: "only screen and (min-width: 975px)";
$BREAKPOINT-TABLET: "only screen and (min-width: 600px)";
$BREAKPOINT-MOBILE-LAND: "only screen and (min-width: 480px)";
