*
{
    padding: 0px;
    margin: 0px;
    outline: 0px;
 
    border: none;
 
    text-decoration: none;
 
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
 
    font-family: $FONT-SPACE;
}

#root
{
    height: 100vh;
 
    display: flex;
    justify-content: center;
 
    background-color: $PRETO;
    color: $P-LETRAS;

    // overflow-x: hidden;
    // overflow-y: hidden;
}

.main
{
    width: 80%;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media( max-width: 650px )
{
    :root { height: 100vh };
}
